
@main("Welcome to Play") {

    <div class="container">
        <form class="form-signin" role="form" action="/login">
            <h1 class="form-signin-heading" style="color:#5EC253;text">
                Welcome to MedManger
            </h1>
            <h2 class="form-signin-heading">
                Please log in
            </h2>
            <input class="form-control" type="id" autofocus="" required="" placeholder="Unique ID" style="width:200px"></input>
            <input class="form-control" type="password" autofocus="" required="" placeholder="password" style="width:200px"></input>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" ></input>
                Remember me
            </label>
            <button class="btn btn-sm btn-success btn-block" type="submit" style="width:175px">
                Sign in
            </button>

        </form>
    </div>

}