@(wards:java.util.List[models.Ward])(beds:java.util.List[models.Bed])
@main("MedManager Nurse Patient Details Interface") {
    <header class="navbar-default" style="display:none;">
        <nav role="navigation">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-plus"></span> <strong class="main-title">MedManager</strong></a>
                </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">Logout</a></li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container -->
        </nav>
    </header>




                        <div class="row" id="details-row" style="display:none;">
                            <div class="col-sm-3 ">
                                <div class="ward-details">
                                    <div class="heading"> Wards/Beds</div>
                                    <div class="body">
                                        <ul class="wards"><span class="glyphicon glyphicon-plus"></span> <strong><u>Wards</u></strong>
                                            @for(ward <- wards) {
                                                <li class="ward"> @ward.name
                                                <ul class="beds">
                                                @for(bed <- beds) {
                                                    @if(bed.id == ward.id){
                                                        <li class="bed">Bed @bed.id
                                                        </li>
                                                    }
                                                }

                                                </ul>
                                                </li>
                                            }

                                        </ul>
                                        </div>
                                </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="main-view">
                                        <div class="heading"> Details</div>
                                        <div class="body">Hello</div>
                                    </div>
                                </div>
                            </div>



}