@(wards:java.util.List[models.Ward])(beds:java.util.List[models.Bed])(patients:java.util.List[models.Patient])
    @formatDate(date: Calendar) = @{
        import java.text.SimpleDateFormat

        val curTimeFormat = new SimpleDateFormat("MM/dd/yyy")

        curTimeFormat.format(date.getTime)
    }
@main("MedManager Nurse Patient Details Interface") {
    <header class="navbar-default" style="display:none;">
        <nav role="navigation">
            <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-plus"></span> <strong class="main-title">MedManager</strong></a>
                </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">Logout</a></li>
                    </ul>
                </div>
                    <!-- /.navbar-collapse -->
            </div>
                <!-- /.container -->
        </nav>
    </header>

                        <div class="row" id="details-row" style="display:none;">
                            <div class="col-sm-3 ">
                                <div class="ward-details">
                                    <div class="heading"><h4>Wards/Beds</h4> </div>
                                    <div class="body">
                                        <ul class="wards"><span class="glyphicon glyphicon-plus"></span> <strong><u>Wards</u></strong>
                                            @for(ward <- wards) {
                                                <li class="ward"> @ward.name
                                                <ul class="beds">
                                                @for(bed <- beds) {
                                                    @if(bed.ward.id == ward.id){

                                                        <li class="bed" onclick="loadBed(@bed.ward.id)">

                                                        Bed @bed.id

                                                        </li>
                                                    }
                                                }

                                                </ul>
                                                </li>
                                            }

                                        </ul>
                                        </div>
                                </div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="main-view">


                                        <div class="heading"><h4>  Details</h4> </div>
                                        <div class="table">
                                        <table class="detail" style="display:none;">






                                                <div class="table table-bordered">
                                                    <table class="table tabled-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>D.O.B</th>
                                                                <th>Address</th>
                                                                <th>GP</th>
                                                                <th>Ailment</th>
                                                                <th>Medication</th>
                                                                <th>Alergies</th>
                                                                <th>Notes</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        @for(patient <- patients) {
                                                            <tr>
                                                                <td>@patient.name</td>
                                                                <td>@formatDate(patient.dob)</td>
                                                                <td>@patient.address</td>
                                                                <td>@patient.gp</td>
                                                                <td>@patient.ailment</td>
                                                                <td>@patient.medication</td>
                                                                <td>@patient.allergies</td>
                                                                <td>@patient.notes</td>
                                                            </tr>

                                                        </tbody>
                                                        }
                                                    </table>

                                                </div>





                                        </table>
                                            </div>
                                        <div class="gallery" style="display:none;">@for(ward <- wards) {
                                            <ul class="gallery">
                                            @for(bed <- beds) {
                                                @if(bed.ward.id == ward.id){
                                                    <li class="gallery">
                                                        <p> @bed.id </p>
                                                        <img class="clickable"src="@routes.Assets.at("images/bed1.png")" style="width:112;height:=112">




                                                    </li>
                                                }
                                            }

                                            </ul>

                                        }</div>
                                    </div>
                                </div>
                            </div>



}